body {
  background-color: #1b262c;
  color: #bbe1fa;
  margin: 3rem;
}

.billing-style {
  margin: auto;
  text-align: center;
}

.details-container {
  text-align: left;
}

.price {
  text-align: right;
}

.table {
  margin: auto;
  width: 25rem;
  color: black;
}
