body {
  background-color: #1b262c;
  color: #bbe1fa;
  padding: 3rem 7rem;
  text-align: center;
}

button {
  margin: 1rem auto;
}

input {
  margin-right: 5px;
}

/* Appliance Dropdown Menu */

div .dropdown {
  margin-top: 3rem;
}

.dropdown-item:hover {
  background-color: #0275d8;
  color: white;
}

.scrollable-menu {
  height: auto;
  max-height: 7rem;
  overflow-x: hidden;
}

.appliance {
  float: left;
}

.price {
  float: right;
  margin-left: 2rem;
}

/* Payment Method */

#card {
  margin-left: 2rem;
}

.checkout-button {
  display: block;
}
